@model List<EntityLayer.Entire.Musteri>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a>Yeni Kayıt</a>

<table>
    <tr>
        <td>Müsteri Adı</td>
        <td>Müsteri Şifresi</td>
        <td>Müsteri Email</td>
        <td><a>Düzeltme</a></td>
        <td><a>Silme</a></td>
    </tr>



</table>

